doctype html
html(lang="end")
  head
    title Landing Page
    link(rel='stylesheet', href='/css/mycss.css')
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
  body
    h1 "Stats for the CPU"
    p Here are some stats


    <div class="container">
    <h3>hello</h3>
    <section id="chart"></section>
    </div>
