doctype html
html(lang="end")
  head
    title Landing Page
    link(rel='stylesheet', href='/css/mycss.css')
  body
    h1 "Stats for the CPU"
    p Here are some stats
    <h3>hello</h3>

    <div class="container">
    <section id="chart"></section>
    </div>
