doctype html
html(lang = "en")
  head
    title
    link(rel='stylesheet', href='/css/mycss.css')
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
    script(type='text/javascript').
      var mycar = {type: "Fiat", model: 2014};
      var jsonCircles =[ {"x_axis": 30, "y_axis": 30, "radius": 20, "color": "green"} ]

  body
    h3 Trying to get some JSON or JS object to work
    script document.write(mycar.type)
