doctype html
html(lang = "en")
  head
    title
    link(rel='stylesheet', href='/css/mycss.css')
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
    script(type='text/javascript').
      var mycar = {type: "Fiat", model: 2014};
      var jsonCircles =[ {"x_axis": 30, "y_axis": 30, "radius": 20, "color": "green"} ]

  body
    <div class="container">
    <h3>CPU Graphics</h3>
    <section id="chart">
    <div class="item">alpha</div>
    <div class="item">beta</div>
    <div class="item">Chi</div>
    <div class="item">delda</div>
    <div class="item">epsilon</div>
    <div class="item">gamma</div>
    <div class="item">kappa</div>
    </section>
    </div>
    script document.write(mycar.type)
    script(src="/css/script.js")
